/***** BASE STYLES *****/

body {
    background-color: #ffffff;
    color: #095156;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

h1 {
    font-family: 'Roboto Slab', serif;
    color: #bdbf09;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 36px;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/***** HEADER *****/

header {
    height: 800px;
    background-image: url('../img/hero-image.png');
    background-size: cover;
}

header h1 {
    font-size: 60px;
}

.intro {
    width: 800px;
    text-align: center;
    padding: 300px 200px 200px;
}
header p {
    font-size: 48px;
}


/***** PORTFOLIO *****/

.portfolio h2 {
    margin: 40px 0;
}

.rogue, .jubilee, .recipe {
    padding: 25px 0;
}

.info h3 {
    margin: 0 auto;

}

.p1 {
    margin: 0;
    line-height: 40px;
}

.image img {
    width: 548px;
    border: 1px solid #b7b7b7;
    box-sizing: border-box;
}

/***** ABOUT *****/

.about {
    background-color: #46959e;
    background-size: cover;
    color: #ffffff;
    margin-top: 50px;
}

.about h2 {
    padding-top: 50px;
    margin: 40px 0;
}

.about .full-width {
    padding: 50px 0 100px;
}

.me h3 {
    margin: 0;
}

/***** CONNECT *****/

.contact {
    background-color: #095156;
    background-size: cover;
    color: #ffffff;
}

.third-width {
    text-align: center;
}

#hire p {
    margin: 0;
}

#hire a {
    text-decoration: none;
    color: #ffffff;
}

#follow ul {
    list-style: none;
    padding-left: 0;
    padding-right: 40px;
    margin: 0;
}

#follow ul li {
    display: inline-block;
}

#follow ul img {
    height: 50px;
    width: 50px;
    padding-left: 40px;
}

#copyright {
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    word-spacing: 5px;
}